<ion-content [fullscreen]="true">
  <div class="content-container">
    <div class="icon-container">
      <img src="assets/icon/coffee-icon.svg" alt="Coffee Icon">
    </div>
    
    <div class="app-title">
      <h1>CaffeNet</h1>
    </div>
    
    <div class="buttons-container">
      <ion-button expand="block" href="/register">
        Registrarse
      </ion-button>
      
      <ion-button expand="block" href="/login">
        Iniciar sesion
      </ion-button>
    </div>
  </div>
</ion-content>