<ion-header>
  <ion-toolbar>
    <ion-title>Panel de Administración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="admin-home ion-padding">
  <div class="header-container">
    <h2>Bienvenido al Panel de Administración</h2>
    <p>Desde aquí podrás gestionar todos los productos y funciones.</p>
  </div>

  <!-- Botón para gestionar productos -->
  <ion-button expand="block" color="primary" routerLink="/products_admin">
    <ion-icon slot="start" name="cube-outline"></ion-icon>
    Administrar Productos
  </ion-button>

  <ion-button expand="block" color="primary" routerLink="/usuarios-admin">
    <ion-icon slot="start" name="cube-outline"></ion-icon>
    Administrar Usuarios
  </ion-button>

</ion-content>

<app-bottom-bar></app-bottom-bar>
